/* FONTS */

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

/* MAIN */
body {
	margin: 0;
	font-family: 'LatoRegular', sans-serif;
}

.no-margin  {
	margin:0 !important;
}

/* HEADER */
.top-header {
	background-color: #222533;
	height: 50px;
	box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
	-webkit-box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
    -moz-box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
}

.top-nav {
	margin: 0 auto;
	width: 1170px;
	height: 100%;
}

.top-nav-list {
	list-style: none;
	padding: 0;
	float: left;
}

.top-nav-item {
	float: left;
	margin-right: 20px;
	font-size: 14px;
}

.top-nav-item-link {
	color: #a1b1bc;
	text-decoration: none;
}

.top-nav-item-devider {
	font-size: 10pt;
	color: #ecf0f1;
}

.enter-site {
	float: right;
}

.enter-site-link {
	color: #fff;
	font-size: 11pt;
	font-weight: 400;
	text-decoration: none;
}

.bottom-header {
	box-shadow: 0 0 10px rgba(142,142,142,0.5);
	-webkit-box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -moz-box-shadow: 0 0 10px rgba(142,142,142,0.5);
	height: 131px;
}

.bottom-header-container {
	width: 1170px;
	height: 131px;
	margin: 0 auto;
}

.header-tools {
	padding-top: 25px;
	height: 53px;
}

.main-logo {
	float: left;
	width: 100px;
	height: 53px;
}

.main-logo-img {
	position: relative;
	width: 65px;
	height: 60px;
	top: -2px;
}

.main-title {
	float: left;
	width: 200px;
	height: 53px;
	color: #325ba3;
	font-size: 22px;
	line-height: 26px;
}

.search-line {
	float: left;
	width: 400px;
	height: 53px;
}

.search-input-img {
	background: url('../img/search.png') no-repeat;
	position: relative;
    top: 18px;
    right: 28px;
}

.search-input {
	float: left;
	height: 38px;
	width: 250px;
	margin-left: 30px;
	padding-left: 20px;
	font-size: 10pt;
	margin-top: 6px;
	border: 1px #d6e2ea solid;
}

.callback {
	float: left;
	width: 370px;
	height: 53px;
}

.button {
	border: none;
	background-color: #396596;
	color: #fff;
	line-height: 12pt;
	font-size: 12pt;
	cursor: pointer;
}

.callback-button   {
	float: left;
	margin-top: 7px;
	height: 40px;
	line-height: 10px;
	box-sizing: border-box;
	padding: 0 12px;
}

.phone-contacts {
	float: left;
	margin-left: 27px;
	height: 53px;
}

.phone-img {
	width: 32px;
	height:32px;
	margin-top: 10px;
}

.contacts {
	float: left;
	height: 44px;
	padding-top: 9px;
	margin-left: 16px;
}

.phone-number {
	font-weight:bold;
	font-size: 13px;
	padding: 1px 0;
	color: #222533 !important;
	text-decoration: none !important;
}

.header-cart {
	position: relative;
	float: right;
}

.cart-button {
	float: right;
	padding: 17px 19px;
	background-color: #396596;
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	cursor: pointer;
}

.cart-button-img {
	width:16px;
	height:15px;
}

.incart-count-circle {
	background-color: #83b33f;
    position: absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 12px;
	top: -10px;
    right: 7px;
    line-height: 20px;
    text-align: center;
}

.header-nav {
	height: 48px;
	margin-top: 5px;
	font-size: 10pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #2c3e50;
}

.create-case-button {
	margin-top: 11px;
	border: 1px solid #83b33f;
	background: #fff;
	height: 25px;
	width: 159px;
	line-height: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	color: #2c3e50;
	font-size: 10pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

.header-nav-content {
	float: left;
	width: 1010px;
	height: 48px;
	margin-left: 1px;
}

.header-nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	height: 100%;
	display:table;
}

.header-nav-item {
	line-height: 48px;
	display:table-cell;
	text-align: center;
	cursor: pointer;
}

.arrow-down {
	height: 8px;
}


/* SUB MENU NAVIGATION */
.header-subnav{
	font-family: "LatoRegular", sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: #aebcc5;
	position: absolute;
	width: 1170px;
	z-index: 1;
}

.header-subnav-content {
	position: relative;
	top: 48px;
}

.header-subnav-menu{
	float:left;
	position: absolute;
	background-color: white;
	border-top: 3px #DFFFB3 groove;
	box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -webkit-box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -moz-box-shadow: 0 0 10px rgba(142,142,142,0.5);
}

.header-subnav-col {
	float:left;
	width: 390px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-subnav-item {
	height: 50px;
    line-height: 50px;
    padding-left: 30px;
	cursor: pointer;
}

.header-subnav-item:hover {
	background-color: #f5f7f8;
	color: #2c3e50;
}
/* CONTENT */

#main {
	margin: 0 auto;
	width: 1170px;
}

.top-main {
	margin-top: 30px;
	height: 600px;
}

.main-slider {
	width: 770px;
	height: 600px;
	float: left;
}

.main-slider .bx-wrapper .bx-pager {
	bottom: 54px;
    right: 70px;
	padding: 0;
}

.main-slider .bx-wrapper .bx-pager.bx-default-pager a {
	background: white;
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 6px;
	outline: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-sizing: border-box;
}

.main-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #ccc;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    top: 2px;
    position: relative;
}

.main-rside{
	float: left;
	margin-left: 30px;
	width: 370px;
	height: 100%;
}

.main-rside-item{
	margin-top: 36px;
}

.main-rside-block {
	width: 370px;
	height: 220px;
	background-color: #ccc;
}


.next-button {
	margin-top: 12px;
	height: 50px;
	padding: 0 50px;
}

.latest-goods{
	margin-top: 53px;
	width: 100%;
	height: 666px;
}

.latest-goods-head{
	height: 30px;
}

.green-square{
	float: left;
	width: 22px;
	height: 22px;
	background-color: #83b33f;
}

.latest-goods-title{
	color: #2c3e50;
    float: left;
    padding: 0;
    margin: 3px 10px 0 10px;
    line-height: 26px;
    font-size: 20pt;
}

.light-arrow {
	font-family: "Consolas", sans-serif;
	position: relative;
	top: -1px;
}

.arrow-button{
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background-color: #ecf0f1;
	color: #a6b5c0;
}

.arrow-button.active {
	color: white;
	background: #83b33f;
}

.latest-goods-nav{
	float: right;
}

.latest-goods-slider {
	width: 100%;
	height: 640px;
	margin: 47px 0 0 0;
	padding: 0;
}

.latest-goods-item {
	margin-right: 30px;
	float: left;
	width: 270px;
	height: 560px;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* FOOTER */
#footer {
	background-color: #222533;
}

.top-footer  {
	margin-top: 80px;
}