/* FONTS */

/*@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoCirillic/Lato-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}*/

/*Design font*/
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoFont/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoFont/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoFont/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoFont/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoFont/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoFont/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoFont/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoFont/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoFont/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoFont/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoFont/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoFont/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoFont/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoFont/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoFont/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoFont/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}


@font-face {
	font-family: 'rubl-regular';
	src: url('../fonts/Rubl/alsrubl.eot');
	src: url('../fonts/Rubl/alsrubl.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Rubl/alsrubl.woff') format('woff'),
		 url('../fonts/Rubl/alsrubl.ttf') format('truetype'),
		 url('../fonts/Rubl/alsrubl.svg#als_rublregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* MAIN */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.no-margin  {
	margin:0 !important;
}

.rub-sign {
	font-family: 'rubl-regular', sans-serif;
}

.green-square{
	float: left;
	width: 22px;
	height: 22px;
	background-color: #83b33f;
}

/* HEADER */

#header {
	min-width: 1170px;
}

.top-header {
	background-color: #222533;
	height: 50px;
	box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
	-webkit-box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
    -moz-box-shadow: 0 0 5px rgba(27, 27, 27, 0.85);
}

.top-nav {
	margin: 0 auto;
	width: 1170px;
	height: 100%;
}

.top-nav-list {
	list-style: none;
	padding: 0;
	float: left;
}

.top-nav-item {
	float: left;
	margin-right: 20px;
	font-size: 14px;
}

.top-nav-item-link {
	color: #a1b1bc;
	text-decoration: none;
}

.top-nav-item-devider {
	font-size: 10pt;
	color: #ecf0f1;
}

.enter-site {
	float: right;
}

.enter-site-link {
	color: #fff;
	font-size: 11pt;
	font-weight: 400;
	text-decoration: none;
}

.bottom-header {
	box-shadow: 0 0 10px rgba(142,142,142,0.5);
	-webkit-box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -moz-box-shadow: 0 0 10px rgba(142,142,142,0.5);
	height: 131px;
}

.bottom-header-container {
	width: 1170px;
	height: 131px;
	margin: 0 auto;
}

.header-tools {
	padding-top: 25px;
	height: 53px;
}

.main-logo {
	float: left;
	width: 100px;
	height: 53px;
}

.main-logo-img {
	position: relative;
	width: 65px;
	height: 60px;
	top: -2px;
}

.main-title {
	float: left;
	width: 200px;
	height: 53px;
	color: #325ba3;
	font-size: 22px;
	line-height: 26px;
}

.search-line {
	float: left;
	width: 400px;
	height: 53px;
}

.search-input-img {
	background: url('../img/search.png') no-repeat;
	position: relative;
    top: 18px;
    right: 28px;
}

.search-input {
	float: left;
	height: 38px;
	width: 250px;
	margin-left: 30px;
	padding-left: 20px;
	font-size: 10pt;
	margin-top: 6px;
	border: 1px #d6e2ea solid;
}

.callback {
	float: left;
	width: 370px;
	height: 53px;
}

.button {
	border: none;
	background-color: #396596;
	color: #fff;
	line-height: 12pt;
	font-size: 12pt;
	cursor: pointer;
}

.callback-button   {
	float: left;
	margin-top: 7px;
	height: 40px;
	line-height: 10px;
	box-sizing: border-box;
	padding: 0 12px;
}

.phone-contacts {
	float: left;
	margin-left: 27px;
	height: 53px;
}

.phone-img {
	width: 32px;
	height:32px;
	margin-top: 10px;
}

.contacts {
	float: left;
	height: 44px;
	padding-top: 9px;
	margin-left: 16px;
}

.phone-number {
	font-weight:bold;
	font-size: 13px;
	padding: 1px 0;
	color: #222533 !important;
	text-decoration: none !important;
}

.header-cart {
	position: relative;
	float: right;
}

.cart-button {
	float: right;
	padding: 17px 19px;
	background-color: #396596;
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	cursor: pointer;
}

.cart-button-img {
	width:16px;
	height:15px;
}

.incart-count-circle {
	background-color: #83b33f;
    position: absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 12px;
	top: -10px;
    right: 7px;
    line-height: 20px;
    text-align: center;
}

.header-nav {
	height: 48px;
	margin-top: 5px;
	font-size: 10pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #2c3e50;
}

.create-case-button {
	margin-top: 11px;
	border: 1px solid #83b33f;
	background: #fff;
	height: 25px;
	width: 159px;
	line-height: 16px;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	color: #2c3e50;
	font-size: 10pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

.header-nav-content {
	float: left;
	width: 1010px;
	height: 48px;
	margin-left: 1px;
}

.header-nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	height: 100%;
	display:table;
}

.header-nav-item {
	line-height: 48px;
	display:table-cell;
	text-align: center;
	cursor: pointer;
}

.header-nav-item:hover{
	background-color:#ccc;
}

.header-nav-item.active{
	background-color: #83b33f;
}

.header-nav-item a{
	color: #2c3e50;
	text-decoration: none;
	display: block;
}

.arrow-down {
	height: 8px;
}


/* SUB MENU NAVIGATION */
.header-subnav{
	font-family: "LatoRegular", sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: #aebcc5;
	position: absolute;
	width: 1170px;
	z-index: 1;
}

.header-subnav-content {
	position: relative;
	top: 48px;
}

.header-subnav-menu{
	float:left;
	position: absolute;
	background-color: white;
	border-top: 3px #DFFFB3 groove;
	box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -webkit-box-shadow: 0 0 10px rgba(142,142,142,0.5);
    -moz-box-shadow: 0 0 10px rgba(142,142,142,0.5);
}

.header-subnav-col {
	float:left;
	width: 390px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-subnav-item {
	height: 50px;
    line-height: 50px;
    padding: 0 15px 0 30px;
	cursor: pointer;
}

.header-subnav-item:hover {
	background-color: #f5f7f8;
	color: #2c3e50;
}

.header-subnav-item .light-arrow{
	float: right;
}
/* CONTENT */

#main {
	margin-top: 30px;
}

.top-main {
	margin: 0 auto;
	width: 1170px;
}

.top-main-info {
	height: 600px;
}

.main-slider {
	width: 770px;
	height: 600px;
	float: left;
}

.main-slider .bx-wrapper .bx-pager {
	bottom: 54px;
    right: 70px;
	padding: 0;
}

.main-slider .bx-wrapper .bx-pager.bx-default-pager a {
	background: white;
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 6px;
	outline: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-sizing: border-box;
}

.main-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #ccc;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    top: 2px;
    position: relative;
}

.main-rside{
	float: left;
	margin-left: 30px;
	width: 370px;
	height: 100%;
}

.main-rside-item{
	margin-top: 36px;
}

.main-rside-block {
	width: 370px;
	height: 220px;
	background-color: #ccc;
}


.next-button {
	margin-top: 12px;
	height: 50px;
	padding: 0 50px;
}

.latest-goods{
	margin-top: 53px;
	width: 100%;
	height: 669px;
	border-bottom: 1px #ddd solid;
}

.main-goods-head{
	height: 30px;
}

.main-selection-title{
	color: #2c3e50;
    float: left;
    padding: 0;
    margin: 3px 10px 0 10px;
    line-height: 26px;
    font-size: 20pt;
}

.light-arrow {
	font-family: "Consolas", sans-serif;
	position: relative;
	top: -1px;
	font-weight: bold;
}

.arrow-button{
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background-color: #ecf0f1;
	color: #a6b5c0;
}

.arrow-button.active {
	color: white;
	background: #83b33f;
}

.main-goods-slider .bx-controls-direction a {
	width: 30px;
	height: 30px;
}

.main-goods-slider .bx-controls-direction a.disabled{
	display: block;
}

.main-goods-slider .bx-next {
	top: 0;
	background: url('../img/right_btn.png');
}

.main-goods-slider .bx-next.disabled {
	background: url('../img/right_btn_disabled.png');
}

.main-goods-slider .bx-next:hover{
	background-position: 0;
}

.main-goods-nav{
	float: right;
}

.main-goods-slider {
	margin: 47px 0 0 0;
	padding: 0;
}

.main-goods-item {
	margin-right: 30px;
	float: left;
	width: 270px;
	height: 560px;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.goods-item-top-info {
	height: 49px;
}

.goods-item-photo{
	height: 318px;
}

.goods-item-tools {
	height: 68px;
	line-height: 68px;color: #2c3e50;
}

.goods-item-bottom-info {
	height: 123px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	color: #2c3e50;
}

.main-goods-item:hover .goods-item-top-info{
	background-color: #21c2f8;
}

.main-goods-item:hover .goods-item-bottom-info,
.main-goods-item:hover .goods-item-tools{
	background-color: #2c3e50;
	color: white;
}

.main-goods-item:hover .goods-item-tools .button-incard{
	background-color: #83b33f;
}

.main-goods-item:hover .goods-item-tools .button-next{
	background-color: #2c3e50;
	border: 1px solid white;
}

.goods-item-presence {
	float:left;
	height: 49px;
	line-height: 49px;
	margin-left: 19px;
	font-size: 13px;
	color: #325ba3;
	font-weight: bold;
}

.goods-item-articul {
	float: right;
	height: 49px;
	line-height: 49px;
	margin-right: 19px;
	color: #a1b1bc;
	font-size: 11px;
}

.good-item-name {
	height: 39px;
	padding: 21px 21px 0 21px;
	
}

.good-item-name-line {
	font-size: 17px;
	font-weight: bold;
	line-height: 22px;
}

.good-item-price {
	height: 53px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 21px;
	padding-top: 20px;
}



.goods-item-tools-button {
	float: left;
	height: 28px;
	width: 105px;
	background-color: #a1b1bc;
	color: white;
	margin: 20px 0 0 20px;
	font-size: 13px;
	padding: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	box-sizing: fixed;
}

.button-label{
	margin: 0 auto;
	display: inline-block;
}

.button-label-text{
	margin-left: 5px;
}

.goods-item-tools-button .button-img{
    height: 13px;
	float: left;
	margin-top: 1px;
}

.recommended-goods{
	margin-top: 53px;
	width: 100%;
	height: 696px;
}

.main-brands{
	height: 142px;
	padding-top: 28px;
	border-top: 1px  solid #e9e9e9;
	border-bottom: 1px  solid #e9e9e9;
	box-sizing: border-box;
}

.main-brands-slider{
	margin: 0 auto;
	width: 1170px;
	position: relative;
}

.main-brands-item{
	float:left;
	width: 120px;
}

#main-brands-prev {
	position: absolute;
	left: -80px;
    top: 28px;
}

#main-brands-next {
	position: absolute;
	right: -80px;
    top: 28px;
}

.main-news {
	margin: 0 auto;
	width: 1170px;
	padding-top: 53px;
	display: table;
}

.main-news-content {
}

.main-news-title {
	height: 40px;
}

.main-news-item {
	float:left;
	margin: 40px 39px 0 0;
	width: 545px;
	height: 270px;
	position: relative;
}

.main-news-item-image {
	width: 270px;
	height:270px;
	background-color: #ccc;
	float: left;
}

.main-news-date {
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	background-color: #325ba3;
	color: white;
}

.main-news-date-day{
	font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 5px;
}

.main-news-date-month{
	font-size: 12px;
    line-height: 13px;
    text-align: center;
    margin-top: 2px;
}

.main-news-info {
	float:left;
	width: 270px;
	height: 100%;
	box-sizing: border-box;
	padding-left: 18px;
}

.main-news-info-title{
	font-size: 17px;
	color: #2c3e50;
	font-weight: bold;
	height:17px;
}

.main-news-info-text {
	font-size: 14px;
	color: #a1b1bc;
	height: 220px;
	vertical-align: middle;
	display: table-cell;
	line-height: 23px;
}

.next-circle{
	width: 16px;
	height: 16px;
	float: left;
	/*background-color: #83b33f;
	border-radius: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
}

.next-circle .light-arrow {
	color: white;
    line-height: 16px;
    font-size: 13px;
    left: 5px;
    top: -2px;
}

.info-next-label {
	color: #2c3e50;
	font-size: 16px;
	float: left;
	padding-left: 8px;
}

/* FOOTER */
#footer {
	background-color: #222533;
	margin-top: 65px;
	height: 535px;
}

.footer-content{
	width: 1170px;
	margin: 0 auto;
}
.top-footer  {
	height: 380px;
	padding-top: 87px;
	box-sizing: border-box;
}

.top-footer-lside {
	width: 370px;
	float:left;
}

.footer-logo-title {
	height: 55px;
}

.top-footer-lside .main-title {
	color: #ecf0f1;
}

.footer-site-info  p{
	color: #758590;
	font-size: 13px;
	box-sizing: border-box;
	padding-right: 30px;
	line-height: 24px;
}

.footer-site-info .info-next {
	margin-top: 25px;
}

.footer-site-info .info-next-label {
	color: white;
	line-height: 18px;
}

.middle-footer{
	height: 79px;
}

.social-info{
	list-style: none;
	padding:0;
	margin:0;
}

.social-info-logo{
	float:left;
	margin-right: 25px;
}

.top-footer-mside{
	width: 370px;
	float:left;
	margin-left: 20px;
}

.top-footer-side-title{
	color: white;
	height: 19px;
}

.footer-news {
}

.footer-news-item{
	border-bottom: 1px solid #243240;
	height: 128px; 
	padding: 20px 0  10px 0;
	box-sizing: border-box;
}

.footer-news-item-img {
	width: 80px;
	height: 80px;
	float:left;
	background-color:  #ccc;
}

.footer-news-item-info {
	float:left;
	width: 290px;
	padding: 0 20px;
	box-sizing: border-box;
}

.footer-news-item-title{
	height: 17px;
	font-size: 17px;
	color: #a1b1bc;
}

.footer-news-item-text p{
	color: #758590;
	font-size: 13px;
	box-sizing: border-box;
	line-height: 24px;
	margin: 10px 0 0 0;
}

.footer-news-item-date{
	height: 17px;
	font-size: 13px;
	color: #396596;
}

.top-footer-rside{
	width: 370px;
	float:left;
	margin-left: 20px;
}

.callback-form {
	padding-top: 20px;
}

.callback-form-input {
	color: white;
	width: 370px;
	height: 40px;
	margin-bottom: 9px;
	border: 1px solid #2d3e4f;
	box-sizing: border-box;
	background-color: #1a1c27;
	padding-left: 15px;
	font-family: 'LatoRegular', sans-serif;
}

.callback-form-textarea{
	color: white;
	width: 370px;
	height: 84px;
	max-width: 370px;
	max-height: 84px;
	resize: none;
	margin-bottom: 9px;
	border: 1px solid #2d3e4f;
	box-sizing: border-box;
	background-color: #1a1c27;
	padding-left: 15px;
	font-family: 'LatoRegular', sans-serif;
	
}

.callback-form-submit {
	height: 40px;
	width: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #2d3e4f;
}

.footer-nav{
	height: 75px;
	border-top: 1px solid #292d3e;
	background-color: #1a1c27;
}